<h1>Event Name: <%= @event.name %></h1>
<p>Description: <%= @event.description %></p>
<p>Location: <%= @event.location %></p>
<p>Date and Time: <%= @event.date_time.strftime('%B %d, %Y %I:%M %p') %></p>
<p>Total Tickets: <%= @event.total_tickets %></p>
<p>Tickets Available: <%= @event.available_tickets %></p>

<h3>Booked Tickets</h3>
<table border="1">
  <thead>
    <tr>
      <th>User</th>
      <th>Quantity</th>
      <th>Booking Date</th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.user.email %></td>
        <td><%= ticket.quantity %></td>
        <td><%= ticket.created_at.strftime('%B %d, %Y') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back to Events', events_path, class: 'btn btn-secondary' %>